@import "bootstrap";
@import "bourbon";

body {
  _padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  background: #840401 asset-url('wallpaper2.jpg', 'image') no-repeat top center;
  padding: 2em;
}

#content{
  background: #fff;
  padding: 2em;
  @include border-radius(2px);
  @include box-shadow(0 0 10px 3px #adadad);
}

.thumbnails{
  margin-left: 1em;
}

.marginer{
  _padding-top:80px;
  h2{
    text-align: justify;
  }
}

.fr{
  float:right;
}

.toplist{
  margin-left: 6em;
  li{
    font-size:1.2em;
    line-height: 1.2em;
  }
}

.contactbtn{
  margin-top: 1em;
}

.contactbtn-left{
  margin: 3em 0 0 7em;
}

.highlight{
	font-family: 'Della Respira', serif;
	font-size: 26px;
	text-align: center !important;
}

.services > img{
	margin-left: 5em;
}
