@import "bootstrap";
@import "bourbon";

body {
  background: #840401 asset-url('wallpaper2.jpg', 'image') no-repeat top center;
  padding: 1em 2em 2em 2em;
}

#content{
  background: #fff;
  padding: 2em;
  @include border-radius(2px);
  @include box-shadow(0 0 6px 1px #adadad);
  
  h2{
    text-align:center;
    margin-bottom: 2em;
  }
  > .well{
    margin-bottom: 3em;
  }
}

.clear{
  clear:both;
}

.thumbnails{
  margin-left: 1em;
}

.fr{
  float:right;
}

.toplist{
  margin-left: 6em;
  li{
    font-size:1.2em;
    line-height: 1.2em;
  }
}

.highlight{
	font-family: 'Della Respira', serif;
	font-size: 26px;
	text-align: center !important;
}

h1.highlight{
	font-size: 29px;
	line-height: 1.5em;
  margin-top: 14px;
  text-shadow:0px 1px 3px #edfcff
}

h2.highlight{
  margin-bottom: 1em !important;
}

.services > img{
	margin-left: 5em;
}

#developer-firms > div, #project-owners > div{
  margin: 1em;
  padding: 2em 1em 1em 1em;
  background: #edfcff;
  height: 320px;
  @include border-radius(2px);
  border: 1px solid #cecece;
}

.headerimage{
  background: asset-url('header.jpg', 'image') no-repeat top center;
  border: 1px solid #cecece;
  .thumbnails{
    
  }
}

.endsign{
  font-size: 3em;
  padding-top: 22px;
  color: #b2dc7e;
}

#hire{
  float:right;
}
