@import "bootstrap";
@import "bourbon";

body {
  background: #840401 asset-url('wallpaper2.jpg', 'image') no-repeat top center;
  padding: 2em;
}

#content{
  background: #fff;
  padding: 2em;
  @include border-radius(2px);
  @include box-shadow(0 0 6px 1px #adadad);
}

.thumbnails{
  margin-left: 1em;
}

.marginer{
  _padding-top:80px;
  h2{
    text-align: justify;
  }
}

.fr{
  float:right;
}

.toplist{
  margin-left: 6em;
  li{
    font-size:1.2em;
    line-height: 1.2em;
  }
}

.contactbtn{
  margin-top: 1em;
}

.contactbtn-left{
  margin: 3em 0 0 7em;
}

.highlight{
	font-family: 'Della Respira', serif;
	font-size: 26px;
	text-align: center !important;
}

.services > img{
	margin-left: 5em;
}

#developer-firms > div, #project-owners > div{
  margin: 1em;
  padding: 2em 1em 1em 1em;
  background: #edfcff;
  height: 320px;
  @include border-radius(2px);
  border: 1px solid #cecece;
}

.headerimage{
  background: asset-url('header.jpg', 'image') no-repeat top center;
  border: 1px solid #cecece;
}